<h3>Resume: <%= resume.name %> [<%= resume.locale.upcase %>]</h3>

<% if resume.biography.present? %>
  <%=
    render "dashboard/data/biographies/biography_preview",
           person: person,
           resume: resume,
           biography: resume.biography
  %>
<% else %>
    <%=
      button_to "Add Biography",
                dashboard_person_data_resume_biographies_path(person, resume),
                class: "px-3 py-2 rounded bg-green-500 hover:bg-green-600 text-white",
                form_class: "m-0 p-0 inline-flex items-center justify-center",
                form: { id: "#{dom_id(resume)}_new_biography" }
    %>
<% end %>

<%=
  turbo_frame_tag "#{dom_id(resume)}_languages",
                  src: dashboard_person_data_resume_languages_path(person, resume, format: :turbo_stream),
                  class: "flex w-full" do
%>
  <%=
    turbo_frame_tag "#{dom_id(resume)}_new_language",
                    src: new_dashboard_person_data_resume_language_path(person, resume, format: :turbo_stream)
  %>
<% end %>

<%=
  turbo_frame_tag "#{dom_id(resume)}_education_history",
                  src: dashboard_person_data_resume_education_index_path(person, resume, format: :turbo_stream),
                  class: "flex w-full" do
%>
  <%=
    turbo_frame_tag "#{dom_id(resume)}_new_education",
                    src: new_dashboard_person_data_resume_education_path(person, resume, format: :turbo_stream)
  %>
<% end %>